/**************FONTS**************/
@font-face { font-family: DolceVita; src: url('../fonts/Dolce Vita.TTF'); } 
@font-face { font-family: Stark; src: url('../fonts/Stark.OTF'); } 
/**************END:FONTS**************/


/**************VARIABLES**************/
@colorTheme: #f0ad4e; 
@themeBrown: #745B39;
@lightBrown: #9C6619;
@bgColor: darken(#FFF2E0,5%);
@cardBgColor: #F8D19C;
@lightYellow: #fcf8e3;
@lightBlue: #66AFE9;
@pizzaCardBrown: #B48E59;
@transparentJumboColor: rgba(252,248,227,0.5);
@cardSelectedRed: #d2322d;
@starColor: #FFAA00;
@footerHeight: 220px;  


@bannerPizza: '/PizzaBuilder/assets/images/bannerPizza.png';
@bannerJumbo: '/PizzaBuilder/assets/images/news_pizzaSmall.jpg';
/**************END:VARIABLES**************/



/**************MIXINS**************/
.boxShadow(@width:2px,@color:#888888){
	box-shadow: @width @width @width @color;
}
.boxFocus(@color:#66AFE9,@width:1px){
	@red: red(@color);
	@green: green(@color);
	@blue: blue(@color);
	box-shadow: inset 0 @width @width rgba(0, 0, 0, 0.075), 0 0 8px rgba(@red, @green, @blue, 0.6);
}
.borderRadius(@radius:10px){
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;
	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.borderRadiusTop(@radius: 10px){
	border-radius: @radius @radius 0px 0px;
}
.borderRadiusBottom(@radius: 10px){
	border-radius: 0px 0px @radius @radius;
}

/* Card Panel Style */
.cardPanel(@height:120px,@hasButton:false){
	/* The card panel adjusts to Height and Width of its container */
	.panel{
		width: 100%;
		height:100%;
		overflow: hidden;
		background-color: @cardBgColor;
		.boxShadow();
		border: 3px solid @pizzaCardBrown;
		&:hover{
			border-color: @colorTheme;  
		}
		/* Div that contains the card image */
		.panel-body{
			height: @height;
			margin-bottom: 0px; 
			padding: 0px;
			border: 1px solid @pizzaCardBrown;
			border-top: none;
			overflow: hidden;
			background-color: @lightYellow;
			/* Actual card image */
			img{
				width: 100%;
				height: 100%;
			}
		}
		/* Contains card info: Title and Description */
		.panel-footer{
			margin-bottom: 0px;  
			height: 150px;
			border: none; 
			width: 100%;
			color: @themeBrown;
			text-decoration: none;
			overflow: hidden;
			overflow-y: auto;
			background-color: @cardBgColor;
			/* Actual Title */
			h3{
				font-family: Verdana;  
				font-weight: bold;
				font-size: 22px;
				margin-top: 0px;
				margin-bottom: 0px;
				i{
					color: @starColor;

					text-shadow: -1px 0 @themeBrown, 0 1px @themeBrown, 1px 0 @themeBrown, 0 -1px @themeBrown;
					&:hover{
						text-shadow: -1px 0 @cardSelectedRed, 0 1px @cardSelectedRed, 1px 0 @cardSelectedRed, 0 -1px @cardSelectedRed;
					}
				}
				i.empty{
					color: @themeBrown;
					font-weight: lighter;
					border: none;
					text-shadow: none;
					&:hover{						
						color: @starColor;
						text-shadow: -1px 0 @themeBrown, 0 1px @themeBrown, 1px 0 @themeBrown, 0 -1px @themeBrown;
					}
				}
			}
			/* Line separating Title and Description */
			hr{
				margin: 3px;
				border-color: @lightBrown;
			}
			/* Description */
			span{
				font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			}
		}

		.addButton(@hasButton);
		
	}
}

/* Returns the button style, when the card has a button */
.addButton(@hasButton) when (@hasButton = true){
	/* Div that contains the button */
	.botao{
		text-align: center; 
		background-color: @cardBgColor;

		/* Actual ADD button */
		button{        
			width: 97%;    
			font-family: Stark;
			font-size: 16px;
			height: 45px;
			font-weight: bold;
			margin-bottom: 6px;
			background-color: @lightBrown;
			border-color: @lightBrown;
			&:hover{
				background-color: white;	
				color: @lightBrown;
			}
		}
	}
}



.placeHolderColor(@color: lighten(@themeBrown,25%)){
	&::-webkit-input-placeholder { /* WebKit browsers */
	    color:    @color;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	    color:    @color
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
	    color:    @color;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
	    color:   @color;
	}
}

.menuItem(@margin: 0px){
	/* Card item FRONT */
	div[name='menuItem']{
		height: 340px;
		width: 269px;
		margin: @margin;
		margin-bottom: 15px;
		text-align:left;
		
		a{
			color: @themeBrown;
			&:hover{
				text-decoration: none;
			}
		}

		/* Card Panel Style */
		.cardPanel(135px,true);

		/* Card Item Back */
		div[name='panelPizzaDetails']{
				text-align: center;
				color: @themeBrown;
				font-family: Stark;
				font-weight: lighter;
				position: relative;

				/* Link that flips card */
				a{
					/* Destails of pizza */
					.scrollableContent{
						height: 285px;
						overflow-x: hidden;
						overflow-y: auto;

						/* Pizza Part name */
						span{
							font-weight: lighter;							
							font-family: Stark;
							font-size: 16px;  
							width: 97%;
							height: auto;
							margin: 3px;
							overflow: auto;
							background-color: @themeBrown;
							color: @colorTheme;
							display: block;
							
							/* Info ICON */
							.glyphicon{
								float: right;
							}
						}
						/* Pizza Part description */
						small{
							font-family: Verdana;
						}  


					}
				}

				/* Link that edits pizza */
				
					button{    
						width: 97%;  
						position: absolute;
						bottom: 0px;
						left: 4px;
						font-size: 16px;
						height: 45px;
						font-weight: bold;
						margin-bottom: 3px;    
						background-color: @lightBrown;
						border-color: @lightBrown;
						z-index: 15;

						&:hover{
							background-color: white;	
							color: @lightBrown;
						}
					}
				
		}		
		/* Card Item Back */
		
	}/* Card item FRONT */
}
/**************END:MIXINS**************/


/**************STYLES**************/
html{
	min-height: 100%;
  	height: 100%; 
	body{
		background-color: @bgColor; 
		min-height: 100%;
	  	height: 100%;   
	}
}

/*-----------FOOTER-------------*/
#rowComplemento{
	height: 350px;
	width: 100%;
}

#footerRow{
	height: @footerHeight;
	width: 100%;
	margin: 0px;
	background-color: @colorTheme;
	color: @themeBrown;
	padding: 10px;
	position: relative;
 	bottom: 0px;
 	display: table;
 	#footerDiv1{ 
 		display: table-cell;
 		vertical-align: middle;		
 		text-align: center;
 		margin-top: 10px;
 		> div{
 			margin-top: 25px;
 			a{
 				text-decoration: none;
 			}
 			img{
	 			opacity: 0.15;
	 			margin: 5px;
	 			.borderRadius(9999px);
	 			&:hover{
	 				cursor:	pointer;
	 				opacity: 0.8;

	 			}
	 		}
 		}
 		h4{
 			margin-top: 4px;
 			margin-bottom: 4px;
 			font-family: Stark;
 			font-weight: bold;
 			display: block;
 		}
 	}
	#footerDiv2,#footerDiv3{
		text-align: center;
		#footerArrow{
			background-color: @colorTheme;
			width: 30%;
			margin: -65px auto 0px auto;
			padding: 10px;
			color: @themeBrown;
			font-size: 36px;
			.borderRadius();
		}
		h2{
			margin-top: 4px;
			span{
				margin-left: 5px;
			}
		}
	}

	#footerDiv3{
		margin-top: 6px;
	}

}

#footerRow2{
	background-color: @themeBrown;
	width: 100%;
	margin: auto 0px;
	height: 50px;
	#footerCol{
		height: 100%;	
		text-align: center;
		color: @colorTheme;
		font-weight: bold;
		display: table;
		a{
			display: table-cell;
			vertical-align: middle;
			width: 80px;
			text-decoration: underline;
			color: @colorTheme;
			&:hover{
				text-decoration:underline;
			}
			i{
				color: @themeBrown;
				background-color: @colorTheme;
			}
		}
		span{
			display: table-cell;
			vertical-align: middle;
		}
	}

	#footerCol2{
		height: 100%;		
		display: table;
		text-align: center;
		#imagesCopyright{
			color: @colorTheme;
			display: table-cell;
			vertical-align: middle;
			a{
				color: @colorTheme;
				text-decoration: underline;
			}
		}
	}

}
/*-----------END:FOOTER-------------*/


/* ----------NAVBAR----------- */
#navBar{
	box-shadow: 2px 2px 2px #888888;
	border: none;	
	background-color: @colorTheme;
	/*Pizza Image*/	
	#pizzaBasRelief{
		display: block;
		width: 50px;
		height: 50px;
		margin-left: 10px;
		display: inline;
		float:left;
	}
	/* Title and hidden collapse menu button */
	.navbar-header{	
		/* Pizza Builder title */
		.navbar-brand{
			font-family: Stark;
			font-weight: bold;
			font-size: 24px;
			color: @themeBrown;
			&:hover{
				color: white;				
			}
		}
		/* Hidden button that appears on small screens
		 * to collapse menu links 
		 */
		button{
			border-color: @themeBrown;
			span{
				background-color: @themeBrown;
			}
			&:hover{
				background-color: white;
				span{
					background-color: @colorTheme;
				}
			}
			&:focus{
				background-color: white;
				span{
					background-color: @colorTheme;
				}
			}
		}
	}
	/* Menu links */
	#navbarMenu{
		ul {
			li{
				
				font-family: Stark;
				font-size: 18px;
				&:hover{
					background-color: white;
				}

				a{
					color: white;
					&:hover{
						color: @colorTheme;
					}
				}
			}
			li.dropdown.number{
				font-family: "Helvetica Neue";
				a{
					max-height: 50px;
					i{						
						margin: 0px;
						padding: 0px;					
					}
				}
				
			}
			li.dropdown{
				a{

					&:hover{
						background-color:white;
						color: @colorTheme;
					}
					&:focus{
						background-color:white;
						color: @colorTheme;
					}
				}
				ul{
					font-family: Stark;
					background-color: white;
					color: @colorTheme;											
					li.disabled{
						a{
							&:hover{
								background-color: white;
							color: lighten(@colorTheme,17%);		
							}
							font-size: 85%;
							background-color: white;
							color: lighten(@colorTheme,17%);							
						}
					}
					li{
						a{
							font-size: 90%;
							background-color: white;
							color:@colorTheme;
							&:hover{
								background-color:@colorTheme;
								color: white;
							}
						}
					}
					
				}
			}
			li.divider{
				background-color: lighten(@themeBrown,10%);

			}
		}

	}
}/*#navBar*/
/* ----------NAVBAR----------- */


/*----------PAGE HEADER (except in home) ---------*/
#historyRow{

	#history{
		font-family: Stark; 
		margin-bottom: 5px;
		width: 100%;  
		height: 80px;
		line-height: 45px;
		text-align: center;
		border: 1px solid @themeBrown;
		position: relative;
		overflow: hidden;
		background: url(@bannerPizza);		

		.spanTitle{
			font-size: 32px;
			color: @lightBrown;
			text-shadow: -1px 0 @lightYellow, 0 1px @lightYellow, 1px 0 @lightYellow, 0 -1px @lightYellow;
		}
	}
}/*----------END: PAGE HEADER---------*/

/*----------HOME---------------*/
#row1{  
	width: 100%;
	margin: 0px;	  
	#homeSlide{	
		margin: auto;
		padding: 0px;
		width: 1000px;
		height: 300px;
		background: url(@bannerJumbo);
		border: 1px solid @themeBrown;
		text-align: center;
		position: relative;
		.carousel-inner{			
			height: 100%;
			.item{
				height: 100%;
				img{
					width: 100%;
					height: 100%;
					margin: 0px auto;
				}
				.carousel-caption{
					background-color: rgba(0,0,0,0.5);
					height: 20%;
					bottom: 0px;
					left: 0px;
					width: 100%;
					text-align: left;
					padding: 5px;
					display: table;

					span{
						display: table-cell;
						vertical-align: middle;
						font-size: 120%;
						margin: auto auto;
						
						font-weight: lighter;
					}
				}
			}

		} 
		.carousel-indicators{
			left: 120%;
			bottom: 2%;
			width: 50px;
		}
	}
	
}
/* This row contains links to Menu, Builder, Delivery and Contact */
#row2 {
	text-align: center;
	padding-top: 20px;
	margin-top: 50px;
	width: 100%;
	.menuLink{
		h3 {
			span{
				font-family: Stark;
				font-size: 80%;
				color: @themeBrown;
				text-decoration: underline;
				&:hover{
					border: 1px solid @themeBrown;
				}
			}
		}
	}/*.menuLink*/
}/* #row2 */

#rowRegister{
	text-align: center;
	margin-top: 50px;
	color: @themeBrown;
	span{
		font-size: 120%;
		font-family: Stark;
		a{
			font-weight: bold;
		}
	}
}

/*row3*/
div[name='containerSteps']{
	background-color: lighten(@bgColor,3%);
	background-image: url('/PizzaBuilder/assets/images/home/lenhaTransparent.png');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size:cover;
	background-repeat: no-repeat;
	margin-top: 250px;
	width: 100%;
	padding-bottom: 160px;
	#row3{
		#arrowCol{
			text-align: center;
			padding-left: 0px;
			padding-right: 0px;
			#leftFillStepArrow{
				display: inline-block;
				width: 44%;
				float: left;
				height: 70px;
				background-color: @bgColor;
			}
			#rightFillStepArrow{
				display: inline-block;
				width: 44%;
				float: right;
				height: 70px;
				background-color: @bgColor;
			}
			#stepArrow{
				background-color: transparent;
				width: 10%;
				margin: 0px auto 0px auto;
				padding: 10px;
				color: @themeBrown;
				font-size: 36px;
				.borderRadius();
				display: inline-block;
			}
			#stepsImage{		
				margin: 50px auto 0px auto;
			}
			span{
				display: block;
				font-size: 48px;
				font-family: Stark;
				color: darken(@colorTheme,15%);
				background-color: transparent;
				text-shadow: -1px 0 @themeBrown, 0 1px @themeBrown, 1px 0 @themeBrown, 0 -1px @themeBrown;
				margin-top: 65px;
			}
			p{
				margin: 15px;
				display: block;
				font-size: 36px;
				font-family: Stark;
				color: darken(@themeBrown,0%);
				text-shadow: -1px 0 @colorTheme, 0 1px @colorTheme, 1px 0 @colorTheme, 0 -1px @colorTheme;
				background-color: transparent;
				i{
					color: #5CB85C;
				}
			}
		}
	}
}
/*row3*/
/*---------END: HOME-----------*/


/*----------------Menu Item View--------------*/

/* Row of pizza cards */
#menuRow{
	margin-top: 10px;
	padding-bottom: 160px;
	/* click to see details span */
	#menuRow2{
		text-align: center;
		margin-top: 5px;
		margin-bottom: 25px;
		span{
			color: @colorTheme;
			background-color: @themeBrown;
		}
	}
	.menuItem();
}
/*----------------END: Menu Item View--------------*/

/*----------------Pizza Builder View---------------*/

/* BUILDER DIV */
#builderDiv{
	text-align: center; 
	padding-bottom: 250px;
	/* Row Div contaning name of pizza being edited */
	#editingFlavorDiv{
		/* Col div containing name of pizza being edited */
		#editing{
			/* Actual "editing pizza" text */
			h1{
				font-family: Stark, Verdana;
				color: @themeBrown;    
				margin: 10px auto;
				width: 40%;
				/* Pizza name emphasis */
				em{
					font-weight: bold;
				}
			}
		}
	}
	/* Each row of pizza builder (size, crust, edge...) */
	div[name='pizzaPartRow']{

		/* Each part column */
		div[name='pizzaPartCol']{
			/* Each part title: Pizza Size, Crust Type...)*/
			h2{
				background-color: @themeBrown;
				font-family: Stark, Verdana;
				font-size: 24px;
				padding-top: 4px;
				padding-bottom: 4px;
				color: @colorTheme;
				height: 100%;
				margin: 5px auto;
				text-align: left;
				cursor: pointer;
				&:hover{
					background-color: @colorTheme;
					color: @themeBrown;
					span{
						text-shadow: -1px 0 @themeBrown, 0 1px @themeBrown, 1px 0 @themeBrown, 0 -1px @themeBrown;
					}
				}
				span{
					color: white;
					font-size: 80%;
					margin-left: 10px;
				}
			}
			/* Wraps every card on builder view */
			.cardDivWrapper{
				display: none;
				/* SizeCards - size is separated cause
				 * it has a smaller size */
				div[name='sizeItem']{
					height: 200px;
					width: 240px;
					margin-bottom: 15px;
					text-align:center;
					display: inline;
					/* Card panel */
					.cardPanel(@hasButton:false);
				}/* Size Cards */

				/* Pizza Part Cards */
				div[name='crustItem'],
				div[name='edgeItem'],
				div[name='layoutItem'],
				div[name='flavorItem']{
					height: 270px;
					width: 240px;
					margin-bottom: 15px;
					text-align:left;
					/* Part Card */
					.cardPanel(@hasButton: false);
				}/* Pizza Part Cards */

				/* Div wrapping FlavorItems*/
				.flavorDiv{
					display: inline-table;
					cursor: pointer;
				}
				.cardDiv{
					display: inline-block;
					cursor: pointer;
				}
				/* When a card is selected this class is applied 
				 * it needs to be important
				 */
				.cardDivSelected{
					border: 3px solid @cardSelectedRed !important;
					box-shadow: 2px 2px 2px @cardSelectedRed !important;
					box-shadow: -2px -2px -2px @cardSelectedRed !important;
				}
				/* Additional info div */
				.obsTextArea{ 
					/* Additional info text area */
					textarea{
						width: 50%;
						margin: 0 auto;
					}
				}
			}/* CardWrapper */
		}/* Pizza part Col */
	}/* Pizza Part Row */

	/* Line separating builder from ADD BUTTON */
	hr{
		border-color: black;    
	}
	#favoriteDiv{
		margin: 20px;
		font-family: Stark;
		font-size: 120%;
		font-weight: lighter;
		color: @themeBrown;
		#favoriteCheck{
		}	
	}	

	/* ADD BUTTON - adds new built pizza to cart */
	button{
		width: 40%;
		height: 80px;
		font-family: Stark;
		font-size: 20px;
		.boxShadow();
	}
}/* Builder Div */

/* Ingredients/Flavors Modal Pane */
#ingredientsPane{
		border: 1px solid @themeBrown;

		/* Modal DIV */
		.modal-content{
			/* Tabs Ingredients/Toppings */
			.modal-header{
				padding-bottom: 0px;
				border: none;
				background-color: @cardBgColor;
				/* List of tabs */
				ul{
					border: none;
					/* Tab list item */
					li{
						background-color: @cardBgColor;
						color: @themeBrown;
						border-color: @themeBrown;
						text-decoration: underline;						   
						/* Toggle tabs */
						a{
							background-color: transparent;
							border: none;
							color: @themeBrown;
							/* Tabs text: "Ingredients" and "Toppings" */
							h4{								
								font-family: Stark;
								font-size: 20px;
								color: @themeBrown;    	
							}
						}
					}
					/* Active tab item */
					li.active{
						background-color: @bgColor;
						text-decoration: none;   
					}
				}
			}

			.tab-content{
				.cardImage{
					width: 100%;
					height: 100%;
				}
				.tab-pane{
					.modal-body{
						background-color: @bgColor;
						> span{
							text-align: center;
							margin: 15px auto;
							display: block;
							margin-top: 0px;
							font-family: Stark;
							color: @themeBrown;
							font-size: 110%;
							font-weight: lighter;
						}
						/* Div containing list of ingredients/flavors */
						#ingredientsList,#flavorsList{
							max-height: 400px;

							overflow: auto;
						}
						/* Divs containing card of hovered ingredient/flavor */
						#ingredientColumn,
						#flavorsColumn{
							padding: 0;
							margin-top: 20px;
							/* Divs containing actual ingredient/flavor card */
							div[name$='ingredientItem'],
							div[name='flavorItem']{
								height: 270px;
								width: 240px;
								margin-bottom: 15px;
								text-align:left;
								
								.cardPanel(@hasButton:false);
							}
						}
						/* "Summary:" */
						#h3customFlavorSummary{
							font-family: Stark;
							font-size: 120%;
							color: @themeBrown;
						}
						/* Ingredients of summary */
						#customFlavorSummary{
							font-family: Stark;
							margin-top: 4px;
							color: @themeBrown;
						}
					}

				}
				/* Outside tabs to affect both Ingredient list
				 * and Flavors list 
				 */
				ul{
					list-style-type: none;
					margin: auto 0;
					padding-left: 0px;
					li{
						padding: 4px;
						height: 44px;
						line-height: 35px;
						font-family: Stark;
						font-weight: lighter;
						font-size: 16px;
						border: 1px solid @themeBrown;
						background-color: @bgColor;
						&:hover{
							cursor: pointer;
							background-color: @cardBgColor;
						}
						button{
							margin-left: 4px;
							font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;    
							font-weight: bold;
						}
					} 
					/* When flavor item is clicked, receives this class */
					li.activeFlavor{
						background-color: darken(@colorTheme,10%);
						color: @themeBrown;
					}
				}
			}
			/* Footer containing 3 buttons: Save, Reset and Cancel */
			.modal-footer{
				background-color: @cardBgColor;
				text-align: left;
				margin-top: 0px;
				/* Actual buttons */
				button{
					font-weight: bold;
					margin: 5px;	
					width: 30%;
					height: 50%;	
					.boxShadow();
				}
			}
		}/* Modal DIV */
}/* #ingredientsPane */	
/*--------------END:Pizza Builder View-------------*/

/*--------------Cart View-------------*/
#cartContainer{
	text-align: center;	
	min-height: 800px;
	margin-bottom: 200px;
	.table{
		text-align: left;
		width: 80%;
		margin: 0px auto;
		background-color: lighten(@cardBgColor,3%);
		color: @themeBrown;
		font-family: Stark;
		.boxShadow();

		.borderRadius();
		
		th{
			font-size: 120%;
			font-weight: lighter;
			text-align: center;
			border-top: none;
			border-bottom: 1px solid  lighten(@themeBrown,20%);
		}

		tbody{

			tr{
				margin: 0px auto;	
				height: 120px !important;
				overflow: hidden;	
				.borderRadius();			
				td{
					border-color: lighten(@themeBrown,20%);
					border-top: none;
					border-bottom: 1px solid  lighten(@themeBrown,20%);
					height: 100%;
					
					> div[name='image']{
						width: 150px !important;
						height: 120px !important;
						padding: 3px;
						
						img{
							width: 100%;
							height: 100%;
							.borderRadius();
						}
					}
				}
				td#emptyCartCell{
					text-align: center;
					font-size: 110%;
				}
				

				td[name='contents']{
					overflow: hidden;
					width: 100%;
					div[name='pizzaName']{
						font-weight: bold;
						font-size: 130%;
					}

					div[name='pizzaParts']{
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
						font-weight: lighter;
					}
					div[name^='pizzaFlavor']{
						font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
						font-weight: lighter;	
					}
					
				}

				td[name='qtyDiv']{
					vertical-align: middle;
					.input-group{

						width:120px;						
						> span{							
							> a{
								border-color: @themeBrown;
								background-color: lighten(@cardBgColor,16%);
								color: @themeBrown;
							}
						}
						> input{	
							border-color: @themeBrown;						
							text-align: center;
							color: @themeBrown;
						}
					}
					div[name="updateQty"]{
						margin-top: 5px;
						text-align: center;
						a{
							color: @themeBrown;
							text-decoration: underline;

						}
					}
				}	
				/* Removing borders from TD's of last row */
				&:last-child{
					td{ border-bottom: none !important;}
					.borderRadiusBottom();
					/* when last row is hovered*/
					&:hover{						
						td{ 
							/* the last cell gets rounded bottom right corner */
							&:last-child{
								border-radius: 0px 0px 10px 0px;
							}
							/* the first cell gets rounded bottom left corner */
							&:first-child{
								border-radius: 0px 0px 0px 10px;	
							}
						}
					}
				}	
				&:hover{
					background-color: darken(@cardBgColor,3%);
				}		
			}/* TR */
		}/* TBODY */
	}/* TABLE */

	#clearCartButton{
		margin: 10px auto;
		.boxShadow();
	}
}/* CART CONTAINER */

/*--------------END:Cart View-------------*/

/*------------Login and Register-----------*/
#loginContainer{
	padding-top: 15px;
	padding-bottom: 150px;
	min-height: 800px;
	div[name='errorsDiv']{
		text-align: center;
		width: 32%;
		margin: 0px auto 20px auto;
	}
	.panel{
		font-family: Stark;
		font-weight: lighter;
		font-size: 130%;
		.boxShadow();
		border: none;
		.panel-heading{
			background-color: @themeBrown;
			color: @colorTheme;
			border: none;
			text-align: center;
		}
		.panel-body{
			background-color: lighten(@cardBgColor,8%);
			color: @themeBrown;
			padding-top: 0px;
			.formError{
				color: @cardSelectedRed;
				font-family: "Helvetica Neue";
				font-size: 80%;
				font-weight: bold;				
			}
			input{
				margin: 10px auto auto auto;
				background-color: lighten(@cardBgColor,15%);
				color: @themeBrown;
				border: 1px solid @themeBrown;
				font-size: 107%;
				font-weight: lighter;
				height: 100%;
				.placeHolderColor();
				&:focus{
					border-color: @cardSelectedRed;
					.boxFocus(@cardSelectedRed);
				}
			}
			input[type='submit']{
				background-color: lighten(@colorTheme,10%);
				border: 1px solid @themeBrown;
				font-size: 120%;
				width: 100%;
				height: 60px;
				margin-top: 10px;
				margin-bottom: 0px;
				&:hover{
					background-color: @colorTheme;
				}
				&:focus{
					.boxFocus(@cardSelectedRed);
				}
			}
		}
	}
}

#registerContainer{
	padding-top: 15px;
	min-height: 800px;
	div[name='errorsDiv']{
		text-align: center;
		width: 50%;
		margin: 0 auto;
	}
	.panel{
		font-family: Stark;
		font-weight: lighter;
		font-size: 120%;
		.boxShadow();
		border: none;
		.panel-heading{
			background-color: @themeBrown;
			color: @colorTheme;
			font-size: 100%;
		}
		.panel-body{
			background-color: lighten(@cardBgColor,8%);
			color: @themeBrown;
			.formError{
				color: @cardSelectedRed;
				font-family: "Helvetica Neue";
				font-size: 80%;
				font-weight: bold;
			}
			label{
				margin-top: 5px;
				display: block;
			}
			a{
				span{
					font-size: 100%;
				}
			}
			input{
				background-color: lighten(@cardBgColor,15%);
				color: @themeBrown;
				border: 1px solid @themeBrown;
				font-size: 107%;
				font-weight: lighter;
				height: 100%;
				.placeHolderColor();
				&:focus{
					border-color: @cardSelectedRed;
					.boxFocus(@cardSelectedRed);
				}
			}
			input[type='submit']{
				margin: 15px auto auto auto;
				background-color: lighten(@colorTheme,10%);
				border: 1px solid @themeBrown;
				font-size: 120%;
				width: 100%;
				height: 60px;
				&:hover{
					background-color: @colorTheme;
				}
				&:focus{
					.boxFocus(@cardSelectedRed);
				}
			}
		}	
	}

	
	#addressPanel{
	    visibility: hidden;
	}

}
/*-----------END: Login and Register---------*/

/* ABOUT VIEW */
#aboutRow{
	min-height: 800px;
	text-align: center;
	#aboutDiv{
		text-align: left;
		background-color: darken(@bgColor,10%);
	}
}
/* END:ABOUT VIEW */

/* PROFILE VIEW */
#profileContainer{
	min-height: 800px;
	margin-top: 20px;
	margin-bottom: 200px;
	#navCol{
		padding-right: 0px;
		#profileNav{
			width: 100%;
			margin: 0px;
			ul.list-group{
				padding: 0px;
				margin-right: -1px;
				a{
					list-style: none;
					font-family: Stark;
					font-size: 20px;
					width: 100%;
					padding: 0px;
					margin: 0px 0px 10px 0px;
					border-color: transparent;
					background-color: transparent;
					text-align: right; 	
					li{
						background-color: @themeBrown;
						color: @colorTheme;
						&:hover{
							color: @themeBrown;
							background-color: @colorTheme;
						}
						border-radius: 10px 0px 0px 10px; 
						text-align: center;
					}
					li.active{					
						color: @themeBrown;
						background-color: darken(@bgColor,10%);
						border-radius: 10px 0px 0px 10px;
						padding-right: 15px;
						text-align: right;
					}

				}
				
			}
		}
	}
	#contentCol{
		text-align: left;
		padding-left: 0px;

		h2{
			color: @themeBrown;
			font-family: Stark;
			margin-top: 15px;
		}	
		#profileContent{
			h2{
				text-align: center;
			}
			width: 95%;
			min-height: 300px;
			font-family: Stark;
			font-weight: lighter;
			margin-top: 0px;
			overflow: auto;
			background-color: darken(@bgColor,10%);
			padding-left: 20px;
			.boxShadow();
			position: absolute;
			top: 0px;
			left: 0px;
		}

		#favoritesContent{
			h2{
				text-align: center;
			}
			display: block;
			background-color: darken(@bgColor,10%);
			.menuItem();
			.boxShadow();
			min-height: 300px;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 95%;	
			padding-left: 20px;		
		}
	}
}
/* END:PROFILE VIEW */

/* CONTACT VIEW */
#contactContainer{
	padding-top: 15px;
	#contactRow{
		margin-bottom: 200px;
		min-height: 500px;
		text-align: center;
		.formError{
			color: @cardSelectedRed;
			font-weight: bold;		
		}
		div[name='errorsDiv']{
			width: 50%;
			margin: 0px auto 10px auto;
		}
		div[name='statusDiv']{
			width: 50%;
			margin: 0px auto 10px auto;
		}
		#contactDiv{
			margin: 0px auto;
			width: 50%;
			background-color: @cardBgColor;
			.boxShadow();
			.borderRadiusTop();
			.panel-heading{
				width: 100%;
				background-color: @themeBrown;
				.borderRadiusTop();
				color: @colorTheme;
				i{
					font-size: 230%;
				}
				h2{
					font-family: Stark;				
					margin: 0px;				
				}
			}
			
			
			.panel-body{
				padding-top: 5px;
				background-color: lighten(@cardBgColor,8%);
				color: @themeBrown;
				input,textarea{
					font-family: Stark;
					display: inline-block;
					margin: 10px;	
					.placeHolderColor();
					background-color: lighten(@cardBgColor,15%);
					color: @themeBrown;
					border: 1px solid @themeBrown;
					font-size: 120%;
					&:focus{
						border-color: @cardSelectedRed;
						.boxFocus(@cardSelectedRed);
					}
				}

				input[name='name']{
					width: 35%;
					margin-left: 0px;
				}
				input[name='email']{
					width: 61%;
					margin-right: 0px;
				}

				input[type='submit']{
						background-color: lighten(@colorTheme,10%);
						border: 1px solid @themeBrown;
						font-size: 120%;
						width: 40%;
						height: 60px;
						margin-top: 10px;
						margin-bottom: 0px;
						.boxShadow(); 
						&:hover{
							background-color: @colorTheme;
						}
						&:focus{
							.boxFocus(@cardSelectedRed);
						}
				}
				textarea{
					max-width: 100%;
					height: 150px;
					min-height: 150px;
					display: block;
					margin: 0px;
				}
			}
		}
	}
}
/* END: CONTACT VIEW */

/**************END:STYLES**************/