@font-face { font-family: DolceVita; src: url('../fonts/Dolce Vita.TTF'); } 
@font-face { font-family: Freshman; src: url('../fonts/Freshman.TTF'); } 
@font-face { font-family: Stark; src: url('../fonts/Stark.OTF'); } 

body{
    background-color: #FFF2E0;    
}

/*-----------FOOTER-------------*/
#rowComplemento{
    height: 200px;
}
#footerRow{
    height: 300px;
    background-color: #f0ad4e;
    color: white;
    padding: 20px;
}
#footerRow h2 .span{
    margin: 5px;
}

#footerDiv{
    text-align: center;
}

.github{
    font-family: Stark;
}
/*-----------END:FOOTER-------------*/

/* ----------NAVBAR----------- */

/*History Alert*/
#historyRow{
    display: block;
    height: 80px;
    font-family: Stark; 
    margin-bottom: 5px;
    text-align: center;
}
#history{
    width: 100%;  
    height: 80px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #9C6619;
}
#history .spanHistory{
    float: left;
}
#history .spanTitle{
    font-size: 32px;
}
#history .spanUser{
    float: right;
}
/*History Alert*/

/* PIZZA BUILDER TITLE NAVBAR */
.navbar-header a{	
    font-family: Stark;
    font-weight: bold;
    font-size: 24px;
}
.navbar-default .navbar-brand{
    color: white;
}
.navbar-default .navbar-brand:hover{
    color: #9C6619;
}

/* NAVBAR BACKGROUND */
.navbar-default{
    background-color: #f0ad4e;
}


/* MENUS: HOME, MENU, ABOUT*/
.collapse ul li{
    font-family: Stark;
    font-size: 18px;
}
.collapse ul li:hover{
    background-color: white;
}
.navbar-default .navbar-nav  li  a{
    color: white;
}
.navbar-default .navbar-nav  li  a:hover{
    color: #f0ad4e;
}
/*----------END: NAVBAR-------------*/


/*----------HOME---------------*/
.label-warning{
    font-family: Stark;
    font-size: 20px;
}

#row1 .jumbotron{  
    margin: auto;
    padding: 0px;
    width: 1000px;
    height: 165px;
}
/*----------END: HOME---------------*/

/*---------GENERAL LAYOUT-----------*/
#row1 {
    padding: 0px;
    margin: 0px
}

#row2 div{
    text-align: center;
    padding: 20px;
}

#row2 div a{
    text-decoration: none;
}
/*---------END: GENERAL LAYOUT-----------*/


/*----------------Menu Item View--------------*/

/* Padding to align the pizza cards (items) */
#menuRow{
    padding-left: 60px;
    padding-right: 60px;
}
/* PIZZA CARD WIDTH AND HEIGHT */
#menuItem{
    height: 340px;
    width: 269px;
    margin-bottom: 15px;
    text-align:left;
    
}
#menuItem a{
    color: black;
}
/*removing underline on anchors*/
#menuItem a:hover{
    text-decoration: none;
}
/*setting the panel size so it fits the menuItem container*/
#menuItem .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

#menuItem .panel:hover{
    border-color: #ed9c28;	
}

/* Crust Image */
.crustDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Edge Image */
.edgeDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Image */
.sizeDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Image */
.layoutDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Image */
.flavorsDiv span{
    display: block;
    width: 100%;
    height: auto;
}
/* Details side of MenuItem card */
div[name='panelPizzaDetails']{
    text-align: center;
    color: #745B39;
    font-family: Stark;
    font-weight: lighter;
    position: relative;
}
.scrollableContent{
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;    
}
div[name='panelPizzaDetails'] span{
    background-color: #745B39;
    font-family: Stark;
    font-size: 16px;  
    width: 97%;
    margin: 3px;
}
/* Details side button (edit) */
div[name='panelPizzaDetails'] button{    
    width: 97%;  
    position: absolute;
    bottom: 0px;
    left: 4px;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 3px;    
    background-color: #9C6619;
    border-color: #9C6619;
}
div[name='panelPizzaDetails'] button:hover{
    background-color: white;	
    color: #9C6619;
}



/*removing bottom margin in the menu item thumbnail*/
/* PIZZA ITEM IMAGE SIZE: 135px */
#menuItem .panel .panel-body{
    margin-bottom: 0px; 
    padding: 2px;
    height: 135px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
/*removing bottom margin in the menu item description*/
#menuItem .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
}
#menuItem .panel .panel-footer .pizzaText{
    height: 100%;
}
/* Aliging ADD button to center*/
/* Background to card color */
#menuItem .panel .botao{
    text-align: center; 
    background-color: #F8D19C;
}
/*setting ADD Button properties */
#menuItem .panel .botao button{        
    width: 97%;    
    font-family: Stark;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 6px;
    background-color: #9C6619;
    border-color: #9C6619;
}
#menuItem .panel .botao button:hover{
    background-color: white;	
    color: #9C6619;
}
#menuItem .panel .panel-footer:hover{
    border-color: transparent;
}

/*removing top margin in pizza name (h3) */
#menuItem .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#menuItem .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}

.popover-title {
    background-color: #d58512;
    font-weight: bold;
    color: white;
}
.popover-content {
    color: #ed9c28;
}

.popover button{
    width: 97%;    
    font-family: Stark;
    font-size: 16px;
    height: 35px;
    margin-bottom: 6px;
    background-color: #d58512;
    border-color: #d58512;
}
/*----------------END: Menu Item View--------------*/

