@font-face { font-family: DolceVita; src: url('../fonts/Dolce Vita.TTF'); } 
@font-face { font-family: Freshman; src: url('../fonts/Freshman.TTF'); } 
@font-face { font-family: Stark; src: url('../fonts/Stark.OTF'); } 

body{
    background-color: #FFF2E0;    
}

/*-----------FOOTER-------------*/
#rowComplemento{
    height: 200px;
}
#footerRow{
    height: 220px;
    background-color: #f0ad4e;
    border-top: 1px solid #8a6d3b;
    color: white;
    padding: 10px;
    position: relative;
}
#footerRow h2 .span{
    margin: 5px;
}

#footerDiv2{
    text-align: center;
}
#footerDiv2 > h2{
	margin-top: 4px;
}

.github{
    font-family: Stark;
}
/*-----------END:FOOTER-------------*/

/* ----------NAVBAR----------- */
.navbar{
	box-shadow: 2px 2px 2px #888888;
	border: none;	
}

/*History Alert*/
#historyRow{
    display: block;
    height: 80px;
    font-family: Stark; 
    margin-bottom: 5px;
}
#history{
    width: 100%;  
    height: 80px;
    line-height: 45px;
    text-align: center;
    border: 1px solid #9C6619;
    position: relative;
    overflow: hidden;
    background: url('/PizzaBuilder/resources/images/bannerPizza.png');
}
#history img{
	float: left;
	vertical-align: top;
	padding: 0px;
	margin: 0px;
}
#history .spanHistory{
    float: left;
}
#history .spanTitle{
    font-size: 32px;
    color: #9C6619;
    text-shadow: -1px 0 #fcf8e3, 0 1px #fcf8e3, 1px 0 #fcf8e3, 0 -1px #fcf8e3;
}
#history .spanUser{
    position: absolute;
    right: 5px;
    color: #9C6619;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*BAS RELIEF PIZZA IMAGE*/
#pizzaBasRelief{
	display: block;
	width: 50px;
	height: 50px;
	float: right;
	margin-right: 10px;
}

/* PIZZA BUILDER TITLE NAVBAR */
.navbar-header a{	
    font-family: Stark;
    font-weight: bold;
    font-size: 24px;
}
.navbar-default .navbar-brand{
    color: #9C6619;
}
.navbar-default .navbar-brand:hover{
    color: #fff;
}

/* NAVBAR BACKGROUND */
.navbar-default{
    background-color: #f0ad4e;
}
/*NAVBAR MENU LINKS*/
.navbar-default .navbar-nav li a:hover{
	background-color: white;
}

/* MENUS: HOME, MENU, ABOUT*/
.collapse ul li{
    font-family: Stark;
    font-size: 18px;
}
.collapse ul li:hover{
    background-color: white;
}
.navbar-default .navbar-nav  li  a{
    color: white;
}
.navbar-default .navbar-nav  li  a:hover{
    color: #f0ad4e;
}


/*----------END: NAVBAR-------------*/


/*----------HOME---------------*/

/* MENU LINKS */
.menuLink h3 span{
    font-family: Stark;
    font-size: 20px;
    color: #745B39;
    text-decoration: underline;
}
.menuLink h3 span:hover{
	border: 1px solid #745B39;
}
#row1{ 
	text-align: center;  
}

#row1 .jumbotron{  
    margin: auto;
    padding: 0px;
    width: 1000px;
    height: 165px;
    background: url('/PizzaBuilder/resources/images/news_pizzaSmall.jpg');
    border: 1px solid #745B39;
    text-align: center;
    position: relative;
}
#row1 .jumbotron h1{
	background-color: rgba(252,248,227,0.5);
	margin-top: 25px;
	width: 100%;
	line-height: 100px;
	font-family: Stark;
	font-size: 34px;
	color: #fcf8e3;/*#745B39;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#row1 .jumbotron h1 small{
	text-transform: uppercase;
	font-size: 18px;
	color: #fcf8e3;
}

/*----------END: HOME---------------*/

/*---------GENERAL LAYOUT-----------*/
#row1 {
    padding: 0px;
    margin: 0px
}

#row2 div{
    text-align: center;
    padding: 20px;
}

#row2 div a{
    text-decoration: none;
}
/*---------END: GENERAL LAYOUT-----------*/


/*----------------Menu Item View--------------*/

/* Padding to align the pizza cards (items) */
#menuRow{
    padding-left: 60px;
    padding-right: 60px;
}
/* PIZZA CARD WIDTH AND HEIGHT */
div[name='menuItem']{
    height: 340px;
    width: 269px;
    margin-bottom: 15px;
    text-align:left;
    
}
div[name='menuItem'] a{
    color: black;
}
/*removing underline on anchors*/
div[name='menuItem'] a:hover{
    text-decoration: none;
}
/*setting the panel size so it fits the menuItem container*/
div[name='menuItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='menuItem'] .panel:hover{
    border-color: #ed9c28;	
    box-shadow: 2px 2px 2px #888888;
}

/* Crust Detail */
.crustDiv span{
    display: block;
    width: 100%;
    height: auto;
}



/* Edge Detail */
.edgeDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Detail */
.sizeDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Detail */
.layoutDiv span{
    display: block;
    width: 100%;
    height: auto;
}

/* Size Detail */
.flavorsDiv span{
    display: block;
    width: 100%;
    height: auto;
}
/* Details side of MenuItem card */
div[name='panelPizzaDetails']{
    text-align: center;
    color: #745B39;
    font-family: Stark;
    font-weight: lighter;
    position: relative;
}

/* scrollable div that contains pizza details */
.scrollableContent{
    height: 285px;
    overflow-x: hidden;
    overflow-y: auto;    
}

/* each pizza part detail title */
.scrollableContent span{
	font-weight: lighter;
}

/* each pizza part detail text */
.scrollableContent small{
	font-family: Verdana;
}

/* each pizza part detail info icon */
.scrollableContent .glyphicon{
	float: right;
}
div[name='panelPizzaDetails'] span{
    background-color: #745B39;
    font-family: Stark;
    font-size: 16px;  
    width: 97%;
    margin: 3px;
}
/* Details side button (edit) */
div[name='panelPizzaDetails'] button{    
    width: 97%;  
    position: absolute;
    bottom: 0px;
    left: 4px;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 3px;    
    background-color: #9C6619;
    border-color: #9C6619;
}
div[name='panelPizzaDetails'] button:hover{
    background-color: white;	
    color: #9C6619;
}



/*removing bottom margin in the menu item thumbnail*/
/* PIZZA ITEM IMAGE SIZE: 135px */
div[name='menuItem'] .panel .panel-body{
    margin-bottom: 0px; 
    padding: 0px;
    height: 135px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
/*removing bottom margin in the menu item description*/
div[name='menuItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
}
div[name='menuItem'] .panel .panel-footer .pizzaText{
    height: 100%;
}
/* Aligning ADD button to center*/
/* Background to card color */
div[name='menuItem'] .panel .botao{
    text-align: center; 
    background-color: #F8D19C;
}
/*setting ADD Button properties */
div[name='menuItem'] .panel .botao button{        
    width: 97%;    
    font-family: Stark;
    font-size: 16px;
    height: 45px;
    font-weight: bold;
    margin-bottom: 6px;
    background-color: #9C6619;
    border-color: #9C6619;
}
div[name='menuItem'] .panel .botao button:hover{
    background-color: white;	
    color: #9C6619;
}
div[name='menuItem'] .panel .panel-footer:hover{
    border-color: transparent;
}

/*removing top margin in pizza name (h3) */
div[name='menuItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div[name='menuItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}

.popover-title {
    background-color: #d58512;
    font-weight: bold;
    color: white;
}
.popover-content {
    color: #ed9c28;
}

.popover button{
    width: 97%;    
    font-family: Stark;
    font-size: 16px;
    height: 35px;
    margin-bottom: 6px;
    background-color: #d58512;
    border-color: #d58512;
}
/*----------------END: Menu Item View--------------*/

/*----------------Pizza Builder View---------------*/

/* START PROGRESS NAV */
div[name='progressDiv']{
	border-color: #9C6619;
	background-color: #F8D19C;
	box-shadow: 2px 2px 2px #888888;
	height: 400px;
	margin: 0px;
	font-family: Stark;
	font-weight: lighter;
}

/* Progress TEXT */
div[name='progressDiv'] h3{
	font-family: Freshman;
	font-weight: lighter;
	font-size: 24px;
	color: #fcf8e3;
	margin: 0px;
}
div[name='progressDiv'] .label{
	width: 97%;
	display: block;
	margin: 4px;
	padding: 4px 0px 0px 0px;
	border: 1px solid #9C6619;
	background-color: #9C6619;
	box-shadow: 1px 1px 1px #888888;
}

.progressTag{
	margin-bottom: 8px;
}

div[name='progressDiv'] .percent{	
	display: inline-block;
	background-color: #fcf8e3;
	font-family: Stark;
	font-size: 65px;
	width: 100%;
	color: #9C6619;
}

div[name='progressDiv'] .pizzaDetails{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
/* END PROGRESS NAV */

/* START BUILDER DIV */
#builderDiv{
    text-align: center; 
}
#builderDiv h2{
    background-color: #745B39;
    font-family: Stark, Verdana;
    font-size: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #ed9c28;
    height: 100%;
    vertical-align: super;
    margin: 8px auto;
    text-align: left;
}
.cardImage{
    width: 100% !important;
    height: 100% !important;
}
/* SIZE CARDS */
#builderDiv #sizeColumn div[name='sizeItem']{
	height: 200px;
    width: 240px;
    margin-bottom: 15px;
    text-align:center;
    display: inline;
}
/*setting the panel size so it fits the menuItem container*/
div[name='sizeItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='sizeItem'] .panel:hover{
    border-color: #ed9c28;	
}

/* size thumbnail */
#builderDiv #sizeColumn div[name='sizeItem'] .panel .panel-body{
	height: 120px;
    margin-bottom: 0px; 
    border: 1px solid #B48E59;
    padding: 0px;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
#builderDiv #sizeColumn div[name='sizeItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
}
#builderDiv #sizeColumn div[name='sizeItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div[name='sizeItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}

#sizeColumn{
    display: inline-block;
}
/* END SIZE CARD */

/* START CRUST CARD */
#builderDiv #crustColumn div[name='crustItem']{
	height: 270px;
    width: 240px;
    margin-bottom: 15px;
    text-align:left;
}
/*setting the panel size so it fits the crustItem container*/
div[name='crustItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='crustItem'] .panel:hover{
    border-color: #ed9c28;	
}

/* crust thumbnail */
#builderDiv #crustColumn div[name='crustItem'] .panel .panel-body{
	height: 120px;
    margin-bottom: 0px; 
    padding: 0px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
#builderDiv #crustColumn div[name='crustItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
    text-decoration: none;
}
#builderDiv #crustColumn div[name='crustItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div[name='crustItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}
/* END CRUST CARD */


/* START EDGE CARD */
#builderDiv #edgeColumn div[name='edgeItem']{
	height: 270px;
    width: 240px;
    margin-bottom: 15px;
    text-align:left;
}
/*setting the panel size so it fits the crustItem container*/
div[name='edgeItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='edgeItem'] .panel:hover{
    border-color: #ed9c28;	
}

/* crust thumbnail */
#builderDiv #edgeColumn div[name='edgeItem'] .panel .panel-body{
	height: 120px;
    margin-bottom: 0px; 
    padding: 0px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
#builderDiv #edgeColumn div[name='edgeItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
    text-decoration: none;
}
#builderDiv #edgeColumn div[name='edgeItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div[name='edgeItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}
/* END EDGE CARD */

/* START LAYOUT CARD */
#builderDiv #layoutColumn div[name='layoutItem']{
	height: 260px;
    width: 240px;
    margin-bottom: 15px;
    text-align:left;
}
/*setting the panel size so it fits the crustItem container*/
div[name='layoutItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='layoutItem'] .panel:hover{
    border-color: #ed9c28;	
}

/* crust thumbnail */
#builderDiv #layoutColumn div[name='layoutItem'] .panel .panel-body{
    height: 140px;
    margin-bottom: 0px; 
    padding: 0px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}

#builderDiv #layoutColumn div[name='layoutItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 120px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
    text-decoration: none;
}
#builderDiv #layoutColumn div[name='layoutItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}

div[name='layoutItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}
/* END LAYOUT CARD */

/* START FLAVOR CARD */
#builderDiv #flavorColumn div[name='flavorItem']{
	height: 260px;
    width: 240px;
    margin-bottom: 15px;
    text-align:left;
}
/*setting the panel size so it fits the crustItem container*/
div[name='flavorItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='flavorItem'] .panel:hover{
    border-color: #ed9c28;	
}

/* crust thumbnail */
#builderDiv #flavorColumn div[name='flavorItem'] .panel .panel-body{
    height: 140px;
    margin-bottom: 0px; 
    padding: 0px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
    text-align: center;
    color: #909090;
    font-family: Stark;
    font-size: 18px;
}

#builderDiv #flavorColumn div[name='flavorItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 120px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
    text-decoration: none;
}
#builderDiv #flavorColumn div[name='flavorItem'] .panel .panel-footer h3{
    font-family: Freshman;	
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#builderDiv #flavorColumn div[name='flavorItem'] .panel .panel-footer i{
    font-size: 28px;
    color: #F0804E;
    line-height: 40px;
}
#builderDiv #flavorColumn div[name='flavorItem'] .panel .panel-footer i:hover{
    color: #9c4219;
}

div[name='flavorItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
}
#flavorCardLink1,
#flavorCardLink2,
#flavorCardLink3,
#flavorCardLink4{   
    text-decoration: none;    
    display: table;    
}
#flavorCardLink1 > h3,
#flavorCardLink2 > h3,
#flavorCardLink3 > h3,
#flavorCardLink4 > h3{
    font-family: Freshman;
    font-size: 24px;    
    color: #745B39;
}
#builderDiv #flavorColumn .flavorDiv{
    margin: 0 auto;
    width: 20%;
    height: content-box;
    display: inline-table;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.flavorText a{
    display: block;
}
/* END FLAVOR CARD */

/* START OBS COLUMN */

.obsTextArea textarea{
    width: 50%;
    margin: 0 auto;
}
/* END OBS COLUMN */

/* START ADD BUTTON */
#builderDiv button{
    width: 40%;
    height: 80px;
    font-family: Stark;
    font-size: 20px;
    box-shadow: 2px 2px 2px #888888;
}
/* END ADD BUTTON */

#builderDiv hr{
    border-color: black;    
}

/* Div that wraps all cards in PizzaBuilder */
.cardDiv{
    margin: 0 auto;
    display: inline-block;
    padding-top: 10px;
    cursor: pointer;
}
.cardDivSelected{
    border: 5px solid #d2322d !important;
    box-shadow: 2px 2px 2px #d2322d !important;
    box-shadow: -2px -2px -2px #d2322d !important;
}


/* START INGREDIENTS MODAL */
#ingredientsPane{
    border: 1px solid #745B39;
   
}
#ingredientsPane #ingredientsList{
    overflow: auto;
}


#ingredientsPane h4,h3{
    font-family: Freshman;
    font-size: 20px;
    color: #745B39;    
}
#ingredientsPane h3{
    float: left;
}
#ingredientsPane .modal-header,
#ingredientsPane .modal-footer,
#ingredientsPane .modal-content{
    background-color: #F8D19C;
    border: none;      
}
#ingredientsPane .modal-header{
    padding-bottom: 0px;
}
#ingredientsPane .modal-header button{
    color: black;
}
#ingredientsPane .modal-header ul li a{
    background-color: transparent;
    text-decoration: none;
    color: transparent;
    border: none;
}
#ingredientsPane .modal-header ul li{
    background-color: #F8D19C;
}
#ingredientsPane .modal-header .active{
    background-color: #FFF2E0;
}
#ingredientsPane .modal-footer button{
    font-weight: bold;
    margin: 5px;
    width: 30%;
    height: 50%;
    box-shadow: 2px 2px 2px #888888;
}

#ingredientsPane .modal-footer{
    text-align: left;
    margin-top: 0px;
}

#ingredientsPane .modal-footer #visibleFlavor{
    padding: 0px;
    margin-left: 10px;
    padding: 6px;
    width: 150px;
    height: 44px;
}
#ingredientsPane .modal-body{
    background-color: #FFF2E0;
}

#ingredientsPane .modal-body #h3customFlavorSummary{
    font-family: Stark;
    font-size: 120%;
}
#ingredientsPane .modal-body #customFlavorSummary{
    font-family: Stark;
    margin-top: 4px;
    color: #745B39;
}

#ingredientsPane ul{
    list-style-type: none;
    margin: auto 0;
    padding-left: 0px;
}
#ingredientsPane .tab-content ul li{
    padding: 4px;
    height: 44px;
    line-height: 35px;
    font-family: Stark;
    font-weight: lighter;
    font-size: 16px;
    border: 1px solid #745B39;
    background-color: #FFF2E0;
}
.activeFlavor{
    background-color: #ed9c28 !important;
}
#ingredientsPane ul li:hover{
    cursor: pointer;
    background-color: #F8D19C;
}

#ingredientsPane ul li button{
    margin-left: 4px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-weight: bold;
}
/* START INGREDIENTS CARD */
#ingredientsPane #ingredientColumn,
#ingredientsPane #flavorsColumn,
#ingredientsPane #ingredientColumn a,
#ingredientsPane #flavorsColumn a{
    padding: 0;
    margin-top: 20px;
}
#ingredientsPane #ingredientColumn div[name='ingredientItem'],
#ingredientsPane #flavorsColumn div[name='flavorItem']{
    height: 270px;
    width: 240px;
    margin-bottom: 15px;
    text-align:left;
}
/*setting the panel size so it fits the crustItem container*/
div[name='ingredientItem'] .panel,
div[name='flavorItem'] .panel{
    width: 100%;
    height:100%;
    overflow: hidden;
    background-color: #F8D19C;
    box-shadow: 2px 2px 2px #888888;
    border: 3px solid #B48E59;
}

div[name='ingredientItem'] .panel:hover,
div[name='flavorItem'] .panel:hover{
    border-color: #ed9c28;  
}

#ingredientsPane #ingredientColumn div[name='ingredientItem'] .panel .panel-body,
#ingredientsPane #flavorsColumn div[name='flavorItem'] .panel .panel-body{
    height: 120px;
    margin-bottom: 0px; 
    padding: 0px;
    border: 1px solid #B48E59;
    border-top: none;
    overflow: hidden;
    background-color: #fcf8e3;
}
#ingredientsPane #ingredientColumn div[name='ingredientItem'] .panel .panel-footer,
#ingredientsPane #flavorsColumn div[name='flavorItem'] .panel .panel-footer{
    margin-bottom: 0px;  
    height: 150px;
    border-color: transparent;
    border-width: 0px; 
    color: #745B39;
    overflow-y: auto;
    text-decoration: none;
}
#ingredientsPane #ingredientColumn div[name='ingredientItem'] .panel .panel-footer h3,
#ingredientsPane #flavorsColumn div[name='flavorItem'] .panel .panel-footer h3{
    font-family: Freshman;  
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

div[name='ingredientItem'] .panel .panel-footer hr,
div[name='flavorItem'] .panel .panel-footer hr{
    margin: 3px;
    border-color: #9C6619;
    width: 100%;
    height: auto;
}
.ingredientText{
    display: block;
}
/* END INGREDIENTS CARD */
/* END INGREDIENTS MODAL */


/* END BUILDER DIV */

/*--------------END:Pizza Builder View-------------*/