<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
<a id="pizzaCardLink{{pizza.id}}" class="pizzaCardLink" href="">
    <div class="pizzaCard{{pizza.id}}" id="pizzaCard{{pizza.id}}" value="false">
        <!-- Menu Item FRONT: the name attribute is used by JavaScript -->
        <div name="menuItem" id="menuItem{{pizza.id}}" class="col-lg-3 col-md-4 col-sm-6 col-xs-12" 
             value="false" 
             data-toggle="popover">
                <!-- PANEL -->
                <div class="panel panel-default">
                    <a href="javascript:flipPizzaCard('{{pizza.id}}')">
                    <!-- PANEL BODY -->
                    <div class="panel-body thumbnail">
                        <img src="/PizzaBuilder/resources/images/{{pizza.picturePath}}" 
                             alt="{{pizza.name}} Image"
                             title="Click to see details">            
                    </div><!-- PANEL BODY -->
                    

                    <!-- PANEL FOOTER -->
                    <div class="panel-footer"> 
                        
                            <!-- PIZZA NAME -->
                            <h3>{{pizza.name}}</h3>

                                                <hr>
                            <!-- DESCRIPTION -->
                            <span>
                                {{pizza.description}}
                            </span>
                            <br>
                        
                    </div><!-- PANEL FOOTER -->
                    </a>
                    <div class="botao">
                        <!-- BUTTON  --> 
                        <a href="/PizzaBuilder/cart/add/{{pizza.id}}">
                            <button type="button" class="btn btn-warning">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                Add
                            </button>
                        </a>
                    </div>
                    
                </div><!-- PANEL -->
        </div><!-- Menu Item -->

        <!-- MENU ITEM BACK: HIDDEN pizza DETAILS DIV -->
        <div id="content{{pizza.id}}" name="pizzaDetails" class="sr-only">
            <div id="panelPizzaDetails{{pizza.id}}" name="panelPizzaDetails" class="panel panel-default">
                <a href="javascript:flipPizzaCard('{{pizza.id}}')">
                <div id="scrollableContent{{pizza.id}}" class="scrollableContent">
                    <div class="crustDiv">                        
                        <span class="label label-warning">
                            Crust: {{pizza.crust.name}}
                            <i name="infoCrust" class="glyphicon glyphicon-question-sign"></i>
                        </span>
                        <small>{{pizza.crust.description}}</small>
                    </div>
                    <div class="edgeDiv">                        
                        <span class="label label-warning">
                            Edge: {{pizza.edge.name}}
                            <i name="infoEdge" class="glyphicon glyphicon-question-sign"></i>
                        </span>
                        <small>{{pizza.edge.description}}</small>
                    </div>
                    <div class="sizeDiv">
                        <span class="label label-warning">
                            Size: {{pizza.size.name}}
                            <i name="infoSize" class="glyphicon glyphicon-question-sign"></i>
                        </span>
                        <small>{{pizza.size.description}}</small>
                    </div>   
                    <div class="layoutDiv">
                        <span class="label label-warning">
                            Layout: {{pizza.layout.name}}
                            <i name="infoLayout" class="glyphicon glyphicon-question-sign"></i>
                        </span>
                        <small>{{pizza.layout.description}}</small>
                    </div>                     
                    <div class="flavorsDiv">
                        {% for flavor in pizza.getflavors %}
                        <span class="label label-warning">
                            Flavor: {{flavor.name}}
                            <i name="infoFlavor" class="glyphicon glyphicon-question-sign"></i>
                        </span>
                        <small>{{flavor.description}}</small>
                        {% endfor %}
                    </div>
                </div>
                </a>
                <a href="/PizzaBuilder/pizzaBuilder/{{pizza.id}}">
                    <button type="button" class="btn btn-warning">
                        <i class="glyphicon glyphicon-pencil"></i>
                        Edit before add
                    </button>
                </a>
            </div>
        </div><!-- MENU ITEM BACK: HIDDEN pizza DETAILS DIV -->

    </div><!-- Pizza Card -->
</a>
</div>




