{% include 'twig__history.html' %}
{% set assetsFolder = "/PizzaBuilder/assets/" %}
{% set imageFolder = assetsFolder ~ "/images/" %}

<div id="cartContainer" class="container table-responsive">
    <div class="row">
        <div class="col-lg-12">
            <table class="table" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th><i class="glyphicon glyphicon-shopping-cart"></i></th>
                        <th>Item Description</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% if cart|length > 0 %}
                        {% for item in cart %}
                            {% set pizza = item['options']['object'] %}
                            {% if pizza is not null  %}
                                <tr name="pizzaRow" >                           
                                    <!-- image of pizza -->
                                    <td>
                                        <div name="image">
                                            <img src="{{imageFolder ~ pizza.picturePath}}" alt="Pizza Image">
                                        </div>
                                    </td><!-- image of pizza -->
                                    <!-- contents of pizza -->
                                    <td name="contents" >
                                        <!-- pizza name-->
                                        <div name="pizzaName" class="row">
                                            <div class="col-lg-12">
                                                {{pizza.name}} <!---->
                                            </div>
                                        </div>
                                        <!-- pizza parts: crust, edge, size... -->
                                        <div name="pizzaParts" class="row">
                                            <div class="col-lg-12">
                                                {{pizza.getSize().getName()}},
                                                {{pizza.getCrust().getName()}} Crust,
                                                {{pizza.getEdge().getName()}} Edge,
                                                {{pizza.getLayout().getName()}}                                     
                                            </div>
                                        </div>
                                        {% for flavor in pizza.getFlavors() %}
                                        <div name="pizzaFlavor{{loop.index}}" class="row">
                                            <div class="col-lg-12">                                     
                                                {{flavor.getName()}}:
                                                {% for ingredient in flavor.getIngredients() %}
                                                {{ingredient.getName()}}
                                                {% if loop.index != flavor.getIngredients()|length %},{% endif %}
                                                {% endfor %}                                        
                                            </div>
                                        </div>
                                        {% endfor %} 
                                        {% if pizza.getObservations() != "" %}
                                            <div name="pizzaObs" class="row">
                                                <div class="col-lg-12">
                                                    Add. Info: {{pizza.getObservations()}}
                                                </div>
                                            </div>                             
                                        {% endif %}  
                                    </td><!-- contents of pizza --> 

                                    <!-- Quantity column of pizza -->
                                    <td name="qtyDiv" >                     

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="input-group input-group-xs">
                                                    <span class="input-group-btn">
                                                        <a class="btn btn-default" href="/PizzaBuilder/cart/remove/{{item['rowid']}}">
                                                            <i class="glyphicon glyphicon-minus"></i>
                                                        </a>                    
                                                    </span>         
                                                    <input type="text" class="form-control" value="{{item['qty']}}" >
                                                    <span class="input-group-btn">

                                                        <a class="btn btn-default" href="/PizzaBuilder/cart/add/{{item['id']}}/{{item['rowid']}}">
                                                            <i class="glyphicon glyphicon-plus"></i>
                                                        </a>
                                                    </span>

                                                </div>
                                            </div>
                                        </div>

                                        <div name="updateQty" class="row" data-value="{{item['rowid']}}">
                                            <div class="col-lg-12">
                                                <a href="#">Update</a>
                                            </div>
                                        </div>
                                    </td><!-- Quantity column of pizza -->         

                                </tr>           
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <tr><td id="emptyCartCell" colspan="3"><span>Empty cart.</span></td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <button id="clearCartButton" type="button" class="btn btn-danger btn-lg">
                Clear Cart
            </button>
        </div>
    </div>
</div>



