<!-- ROW1: Contains NEWS DIV -->
<div id="row1" class="row">
        <div class="jumbotron">  
			<!--<img src="/PizzaBuilder/resources/images/news_pizzaSmall.jpg" alt="News Pizza" >-->
			
            <h1 class="panel panel-warning">Pizza Factory <small>Your logo here...</small></h1>
        </div>
</div><!-- ROW1: Contains NEWS DIV -->

<!-- ROW2: Contains MENU OPTIONS -->
<div id="row2" class="row">
    
    <!-- Menu Option 1 -->
    <div class="col-lg-3">
        <a class="menuLink" href="/PizzaBuilder/menu">
        <div> 
            <img src="/PizzaBuilder/resources/images/home/menuSmallColor.png" alt="Menu">            
            <h3><span class="label label-warning ">Menu<span></h3>            
        </div> 
        </a>
    </div><!-- Menu Option 1 -->
    
   <!-- Menu Option 2 -->
    <div class="col-lg-3">
        <a class="menuLink" href="/PizzaBuilder/pizzaBuilder">
        <div> 
            <img src="/PizzaBuilder/resources/images/home/pizzaSmallColor.png" alt="Pizza Builder">            
            <h3><span class="label label-warning ">Build Your Pizza<span></h3>            
        </div> 
        </a>
    </div><!-- Menu Option 2 -->
    
    <!-- Menu Option 3 -->
    <div class="col-lg-3">
        <a class="menuLink" href="#">
        <div> 
            <img src="/PizzaBuilder/resources/images/home/deliverySmallColor.png" alt="Delivery Area">                      
            <h3><span class="label label-warning ">Delivery Area<span></h3>            
        </div> 
        </a>
    </div><!-- Menu Option 3 -->
    
    <!-- Menu Option 4 -->
    <div class="col-lg-3">
        <a class="menuLink" href="#">
        <div> 
            <img src="/PizzaBuilder/resources/images/home/contactSmallColor.png" alt="Contact Us">            
            <h3><span class="label label-warning ">Contact Us<span></h3>            
        </div> 
        </a>
    </div><!-- Menu Option 4 -->
</div>
