<!-- Loading hidden modal -->
{% include 'twig__flavorModal_view.html' %}<!-- Loading hidden modal -->


<!--BUILDER DIV-->
<div id="builderDiv" >
    <!-- SIZE ROW -->
    <div class="row">        
        <!-- SIZE COLUMN -->
        <div id="sizeColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Pizza size</h2>
            {% for size in pizzaBuilder.getSizes %}
            {% include 'twig__card_view.html' 
            with {'type' : 'size', 'object' : size} %}
            {% endfor %}
        </div><!-- SIZE COLUMN -->
    </div><!-- SIZE ROW -->


    <!-- CRUST ROW -->
    <div class="row">
        <!-- CRUST COLUMN -->
        <div id="crustColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Crust type</h2>
            {% for crust in pizzaBuilder.getCrusts %}
            {% include 'twig__card_view.html' 
            with {'type' : 'crust', 'object' : crust} 
            %}
            {% endfor %}
        </div><!-- CRUST COLUMN -->
    </div><!-- CRUST ROW -->

    <!-- EDGE ROW -->
    <div class="row">
        <!-- EDGE COLUMN -->
        <div id="edgeColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Edge</h2>
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                {% for edge in pizzaBuilder.getEdges %}
                {% include 'twig__card_view.html' 
                with {'type' : 'edge', 'object' : edge} %}
                {% endfor %}
            </div>
            <div class="col-lg-1"></div>
        </div><!-- EDGE COLUMN -->
    </div><!-- EDGE ROW -->

    <!-- LAYOUT ROW -->
    <div class="row">
        <!-- LAYOUT COLUMN -->
        <div id="layoutColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Layout</h2>
            {% for layout in pizzaBuilder.getLayouts %}
            {% include 'twig__card_view.html' 
            with {'type' : 'layout', 'object' : layout} %}
            {% endfor %}
        </div><!-- LAYOUT COLUMN -->
    </div><!-- LAYOUT ROW -->

    <!-- FLAVOR ROW -->
    <div class="row">
        <!-- FLAVOR COLUMN -->
        <div id="flavorColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Flavors</h2>            
            {% include 'twig__flavorCard_view.html' with {'number': '1'} %}            
            {% include 'twig__flavorCard_view.html' with {'number': '2'} %}            
            {% include 'twig__flavorCard_view.html' with {'number': '3'} %}            
            {% include 'twig__flavorCard_view.html' with {'number': '4'} %}            
        </div><!-- FLAVOR COLUMN -->
    </div><!-- FLAVOR ROW -->

    <!-- OBS ROW -->
    <div class="row">
        <!-- OBS COLUMN -->
        <div id="obsColumn" class="col-lg-12">
            <h2 class="alert alert-warning">Observations</h2> 
            <div class="obsTextArea">
                <textarea class="form-control" rows="6"></textarea>
            </div>
        </div><!-- OBS COLUMN -->
    </div><!-- OBS ROW -->
    <br>
    <hr>
    <button type="button" class="btn btn-danger btn-lg">
        Add to Cart
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </button>
</div><!--BUILDER DIV-->

