<div id="rowComplemento" class="row">
    
</div>

<div id="footerRow" class="row">
    <div id="footerDiv" class="col-md-4">
        
    </div> 
    <div id="footerDiv" class="col-md-4">
        
        <h2>
            <span class="glyphicon glyphicon-info-sign"></span>
            What's Pizza Builder?
        </h2>
        
        <span>
            Pizza Builder is an open source web application for your online Pizza 
            Store. It allows your customers to create new pizzas, modify existing ones,
            save their favourites flavors (including custom flavors) and buy 
            the pizzas based on their own taste and preferences.        
            You have total control on your menu options, available flavors and 
            subitems, user customization limitations, and more.
        </span> 
        <br>
        <span class="github">
            <a href="http://github.com/marcelovcpereira/pizzaBuilder">
                <img src="/PizzaBuilder/resources/images/GitHub_PizzaBuilder.png" alt="Fork on github">
            </a>
        </span>
    </div>
    <div id="footerDiv" class="col-md-4">
        
    </div>
   
</div>   


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        
    <!-- loading twitter bootstrap -->
    <script type="text/javascript" src="/PizzaBuilder/resources/js/bootstrap.min.js"></script>
    
    <!-- loading portal javascript file -->
    <script type="text/javascript" src="/PizzaBuilder/resources/js/portal-js.js"></script>  
    
      
    
     
</body>
</html>