
<!-- HIDDEN INGREDIENTS MODAL -->
<div class="modal fade" id="ingredientsPane" tabindex="-1" role="dialog" aria-labelledby="myModalId" aria-hidden="true" data-value="0">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                
                <ul class="nav nav-tabs">

                    <li id="liIngredients" class="active">
                        <a href="#ingredientsContent" data-toggle="tab">
                            <h4 class="modal-title" id="myModalId">Ingredients</h4>
                        </a>
                    </li>
                    <li id="liFlavors" >
                        <a href="#flavorsContent" data-toggle="tab"><h4 class="modal-title">Flavors</h4></a>
                    </li>
                </ul>
            </div>
            <!-- CONTENT TABS -->
            <div class="tab-content">
                <!-- INGREDIENT CONTENT PANE -->
                <div class="tab-pane active" id="ingredientsContent">
                    <div class="modal-body">
                        <div class="row">
                            <div id="ingredientsList" class="col-lg-7">
                                <ul>
                                    {% for ingredient in pizzaBuilder.getIngredients %}
                                    <li id="ingredient{{ingredient.id}}" name="ingredientListItem" class="alert alert-warning" value="{{ingredient.id}}">
                                        {{ingredient.name}}                 
                                        <button id="removeIngredient{{ingredient.id}}" type="button" class="btn btn-danger pull-right">-</button>
                                        <button id="addIngredient{{ingredient.id}}" type="button" class="btn btn-warning pull-right">+</button>

                                        <input type="hidden" name="id" value="{{ingredient.id}}">
                                        <input type="hidden" name="name" = value="{{ingredient.name}}">
                                        <input type="hidden" name="description" = value="{{ingredient.description}}">
                                        <input type="hidden" name="picturePath" = value="{{ingredient.picturePath}}">
                                    </li>                                    
                                    {% endfor %}
                                </ul>
                            </div>
                            <div id="ingredientColumn" class="col-lg-5">
                                {% include 'twig__card_view.html' 
                                with {'type' : 'ingredient', 'object' : pizzaBuilder.getIngredients[0]} %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h3 id="h3customFlavorSummary" class="modal-title">Summary:</h3>                                
                            </div>
                            <div class="col-lg-10">
                                <div id="customFlavorSummary">Empty flavor</div>
                            </div>
                        </div>
                    </div>
                </div><!-- INGREDIENT CONTENT PANE -->

                <!-- FLAVORS CONTENT PANE -->
                <div class="tab-pane" id="flavorsContent">
                    <div class="modal-body">
                        <div class="row">
                            <div id="flavorsList" class="col-lg-7">
                                <ul>
                                    {% for flavor in pizzaBuilder.getFlavors %}
                                    <li id="flavor{{flavor.id}}" name="flavorListItem" class="alert alert-warning" value="{{flavor.id}}">
                                        {{flavor.name}} 
                                        <input type="hidden" name="id" value="{{flavor.id}}">
                                        <input type="hidden" name="name" = value="{{flavor.name}}">
                                        <input type="hidden" name="description" = value="{{flavor.description}}">
                                        <input type="hidden" name="picturePath" = value="{{flavor.picturePath}}">
                                         
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>  
                            <div id="flavorsColumn" class="col-lg-5">
                                {% include 'twig__card_view.html' 
                                with {'type' : 'flavor', 'object' : pizzaBuilder.getFlavors[0]} %}
                            </div>                      
                        </div>
                    </div>
                </div><!-- FLAVORS CONTENT PANE -->
            </div><!-- CONTENT TABS -->
            <div class="modal-footer">
               <!-- Here comes the hidden user selected flavor -->
               <button id="saveFlavorButton" type="button" class="btn btn-warning">Save Flavor</button>
               <button id="resetModalButton" type="button" class="btn btn-danger">Reset</button>
               <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>               
           </div>
       </div>
   </div>
</div><!-- HIDDEN INGREDIENTS MODAL -->