<div id="progressDiv" name="progressDiv" class="panel panel-default">
	<!-- PROGRESS TAG -->
	<div class="progressTag">
		<span class="label label-warning">
			<h3>Progress:</h3>
			<span class="percent">0%</span>		
		</span><!-- END PROGRESS TAG -->
	</div>
	<div class="crustDiv">                        
		<span class="label label-warning">
			Crust
			<i name="infoCrust" class="glyphicon glyphicon-question-sign"></i>
		</span>
		<small>{{pizza.crust.description}}</small>
	</div>
	<div class="edgeDiv">                        
		<span class="label label-warning">
			Edge
			<i name="infoEdge" class="glyphicon glyphicon-question-sign"></i>
		</span>
		<small>{{pizza.edge.description}}</small>
	</div>
	<div class="sizeDiv">
		<span class="label label-warning">
			Size
			<i name="infoSize" class="glyphicon glyphicon-question-sign"></i>
		</span>
		<small>{{pizza.size.description}}</small>
	</div>   
	<div class="layoutDiv">
		<span class="label label-warning">
			Layout
			<i name="infoLayout" class="glyphicon glyphicon-question-sign"></i>
		</span>
		<small>{{pizza.layout.description}}</small>
	</div>                     
	<div class="flavorsDiv">
		{% for flavor in pizza.getflavors %}
		<span class="label label-warning">
			Flavor
			<i name="infoFlavor" class="glyphicon glyphicon-question-sign"></i>
		</span>
		<small>{{flavor.description}}</small>
		{% endfor %}
	</div>
</div>
