{% if user is defined and user.getId() != null and user.getId() != -1 %}
    {% set logged = true %}
{% else %}
    {% set logged = false %}
{% endif %}

<!--BUILDER DIV-->
<div id="builderDiv" >
    {#
     # If pizza is not null, then we are editing a pizza.
     # Showing the name of what we're editing...
     #}

    {% if pizza is not null %}
        <div id="editingFlavorDiv" class="row">
            <div id="editing" class="col-lg-12">
                <h1>Modifying <em>{{pizza.name}}</em> pizza</h1>
                
            </div>  
            {# Hidden pizza object #}
            <input type="hidden" name="pizza" value="{{pizza.__toString()}}">
        </div>
    {% endif %}
    <!-- SIZE ROW -->
    <div name="pizzaPartRow" class="row">              
        <!-- SIZE COLUMN -->
        <div id="sizeColumn" name="pizzaPartCol" class="col-lg-12">            
            <h2 class="alert alert-warning">
                Pizza size:
                <span>
                    {% if pizza is not null %}
                        {{pizza.getSize().getName()|capitalize}}
                    {% endif %}
                </span>
                <i class="glyphicon glyphicon-minus-sign pull-right" title="Show/Hide Sizes"></i>
            </h2>

            <div class="cardDivWrapper" style="display: block">
                {% set selected = false %}
                {% for size in pizzaBuilder.getSizes %}
                    {% if pizza is not null %}
                        {% if size.getId() == pizza.getSize().getId() %}
                            {% set selected = true %}
                        {% endif %}
                    {% endif %}

                    
                    {% include 'twig__card_view.html' 
                    with {'type' : 'size', 'object' : size,'selected':selected} %}
                    {% set selected = false %}
                {% endfor %}
            </div>
        </div><!-- SIZE COLUMN -->
    </div><!-- SIZE ROW -->


    <!-- CRUST ROW -->
    <div name="pizzaPartRow" class="row">
        <!-- CRUST COLUMN -->
        <div id="crustColumn" name="pizzaPartCol" class="col-lg-12">
            <h2 class="alert alert-warning">
                Crust type:
                <span>
                    {% if pizza is not null %}
                        {{pizza.getCrust().getName()|capitalize}}
                    {% endif %}
                </span>
                <i class="glyphicon glyphicon-plus-sign pull-right" title="Show/Hide Crusts"></i>
            </h2>

            <div class="cardDivWrapper">
                {% for crust in pizzaBuilder.getCrusts %}
                    {% if pizza is not null %}
                        {% if crust.getId() == pizza.getCrust().getId() %}
                            {% set selected = true %}
                        {% endif %}
                    {% endif %}
                    {% include 'twig__card_view.html' 
                    with {'type' : 'crust', 'object' : crust, 'selected':selected} 
                    %}
                    {% set selected = false %}
                {% endfor %}
            </div>

        </div><!-- CRUST COLUMN -->
    </div><!-- CRUST ROW -->

    <!-- EDGE ROW -->
    <div name="pizzaPartRow" class="row">
        <!-- EDGE COLUMN -->
        <div id="edgeColumn" name="pizzaPartCol" class="col-lg-12">
            <h2 class="alert alert-warning">
                Edge:
                <span>
                    {% if pizza is not null %}
                        {{pizza.getEdge().getName()|capitalize}}
                    {% endif %}
                </span>
                <i class="glyphicon glyphicon-plus-sign pull-right" title="Show/Hide Edges"></i>
            </h2>
            <div class="cardDivWrapper">
                {% for edge in pizzaBuilder.getEdges %}
                    {% if pizza is not null %}
                        {% if edge.getId() == pizza.getEdge().getId() %}
                            {% set selected = true %}
                        {% endif %}
                    {% endif %}
                    {% include 'twig__card_view.html' 
                        with {'type' : 'edge', 'object' : edge,'selected':selected} %}
                    {% set selected = false %}
                {% endfor %}
            </div>
        </div><!-- EDGE COLUMN -->
    </div><!-- EDGE ROW -->

    <!-- LAYOUT ROW -->
    <div name="pizzaPartRow" class="row">
        <!-- LAYOUT COLUMN -->
        <div id="layoutColumn" name="pizzaPartCol" class="col-lg-12">
            <h2 class="alert alert-warning">
                Layout:
                <span>
                    {% if pizza is not null %}
                        {{pizza.getLayout().getName()|capitalize}}
                    {% endif %}
                </span>
                <i class="glyphicon glyphicon-plus-sign pull-right" title="Show/Hide Layouts"></i>
            </h2>
            <div class="cardDivWrapper">
                {% for layout in pizzaBuilder.getLayouts %}
                    {% if pizza is not null %}
                        {% if layout.getId() == pizza.getLayout().getId() %}
                            {% set selected = true %}
                        {% endif %}
                    {% endif %}
                    {% include 'twig__card_view.html' 
                        with {'type' : 'layout', 'object' : layout,'selected':selected} %}
                    {% set selected = false %}

                {% endfor %}
            </div>
        </div><!-- LAYOUT COLUMN -->
    </div><!-- LAYOUT ROW -->

    <!-- FLAVOR ROW -->
    <div name="pizzaPartRow" class="row">
        <!-- FLAVOR COLUMN -->
        <div id="flavorColumn" name="pizzaPartCol" class="col-lg-12">
            <h2 class="alert alert-warning">
                Toppings:
                <span>
                    {# Toppings names in case we're opening a pizza to edit #}
                    {% if pizza is not null %}
                        {% for flavor in pizza.getFlavors() %}
                            {{flavor.getName()|capitalize}}
                            {% if loop.index != pizza.getFlavors()|length %}
                                ,
                            {% endif %}
                        {% endfor %}
                    {% else %}    
                        <small>(select a layout)</small>
                    {% endif %}
                </span>
                <i class="glyphicon glyphicon-plus-sign pull-right" title="Show/Hide Layouts"></i>
            </h2> 

            <div class="cardDivWrapper">
                {% set counter = 0 %}
                {% for flavor in pizza.getFlavors() %}
                    {% include 'twig__card_view.html' with {'number': loop.index,'object':flavor} %}
                    {% set counter = counter + 1 %}
                {% endfor %}                
                {# While counter is not 4 #}
                {% for counter in counter..3 %}
                    {% include 'twig__card_view.html' with {'number': counter+1,'object':null} %}
                {% endfor %}
            </div>            
        </div><!-- FLAVOR COLUMN -->
    </div><!-- FLAVOR ROW -->

    <!-- OBS ROW -->
    <div name="pizzaPartRow" class="row">
        <!-- OBS COLUMN -->
        <div id="obsColumn" name="pizzaPartCol" class="col-lg-12">
            <h2 class="alert alert-warning">
                Additional Info
                <i class="glyphicon glyphicon-plus-sign pull-right" title="Show/Hide Layouts"></i>
            </h2> 
            <div class="cardDivWrapper">
                <div class="obsTextArea">
                    <textarea class="form-control" rows="6">{% if pizza is not null %}{{pizza.getDescription()}}{% endif %}
                    </textarea>
                </div>
            </div>
        </div><!-- OBS COLUMN -->
    </div><!-- OBS ROW -->
    <br>
    <hr>

    <form id="pizzaBuilderForm" name="pizzaBuilderForm" action="/PizzaBuilder/Cart/add" method="post">
        <input type="hidden" name="userPizza" value="">        
        <input type="hidden" name="{{tokenName}}" value="{{tokenHash}}">
        
        {% if logged %}
            <div id="favoriteDiv">
                <input id="favoriteCheck" name="favoriteCheck" type="checkbox">
                <label for="favoriteCheck">Add to favorites</label>
            </div>
        {% endif %}
    </form>

    
    

    <button type="button" class="btn btn-danger btn-lg">
        Add to Cart
        <i class="glyphicon glyphicon-shopping-cart"></i>
    </button>

    <!-- form -->

    <!-- form -->
</div><!--BUILDER DIV-->

