{% set assetsFolder = "/PizzaBuilder/assets/" %}
{% set imageFolder = assetsFolder ~ "/images/" %}
<div id="rowComplemento" class="row">
    
</div>

<div id="footerRow" class="row">
	<!-- GIT HUB "FORK ME" RIBBON --
	<a href="https://github.com/marcelovcpereira/pizzaBuilder">
		<img style="border: 0;position: absolute;left: 0px; top: 0px;" 
			src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" 
				alt="Fork me on GitHub">
	</a><!-- GIT HUB "FORK ME" RIBBON -->
	
	<!-- CURRENTLY EMPTY COLUMN: LEFT -->
    <div id="footerDiv1" class="col-md-4">
        <h4>Find us on Social Networks</h4>
        <div>
            <img src="{{imageFolder}}social/facebook.png" 
                alt="Like us on Facebook" title="Like us on Facebook">
        <img src="{{imageFolder}}social/googleplus.png" 
                alt="Like us on Google+" title="Like us on Google+">
                <br>
        <a href="http://www.github.com/marcelovcpereira">
            <img src="{{imageFolder}}social/github.png" 
                alt="Fork PizzaBuilder on Github" title="Fork PizzaBuilder on Github">
        </a>
        <a href="http://www.linkedin.com/profile/view?id=312305693">
            <img src="{{imageFolder}}social/linkedin.png" 
                alt="See developer on Linkedin" title="See developer on Linkedin">
        </a>
        </div>
    </div><!-- CURRENTLY EMPTY COLUMN: LEFT --> 
	
	<!-- CENTERED COLUMN CONTAINING "WHAT's PIZZA BUILDER TEXT -->
    <div id="footerDiv2" class="col-md-4">
        
        <h2>
            <span class="glyphicon glyphicon-info-sign"></span>
            What's Pizza Builder?
        </h2>
        
        <span>
            Pizza Builder is an open source web application for your online Pizza 
            Store. It allows your customers to create new pizzas, modify existing ones,
            save their favourites flavors (including custom flavors) and buy 
            the pizzas based on their own taste and preferences.        
            You have total control on your menu options, available flavors and 
            ingredients, user customization limitations, and more.
        </span> 
        <br>		
    </div><!-- CENTERED COLUMN CONTAINING "WHAT's PIZZA BUILDER TEXT -->
	
    <!-- CURRENTLY EMPTY COLUMN: RIGHT -->
    <div id="footerDiv" class="col-md-4">
        
    </div><!-- CURRENTLY EMPTY COLUMN: RIGHT -->
    
    <div class="row">
    <div class="col-lg-12">
        <center>
            <span>
                Images from <a href="http://www.freedigitalphotos.net/‎">FreeDigitalPhotos</a> and <a href="http://all-free-download.com/">AllFreeDownloads</a>
            </span>
        </center>
    </div>
</div>
   
</div> 



	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{{assetsFolder}}js/jquery-1.11.0.min.js"></script>
    
    <!--<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>-->
        
    <!-- loading twitter bootstrap -->
    <script type="text/javascript" src="{{assetsFolder}}js/bootstrap.min.js"></script>
    
    <!-- loading portal javascript file -->
    <script type="text/javascript" src="{{assetsFolder}}js/portal-js.js"></script>  
    
      
    
     
</body>
</html>