<div class="flavorDiv{{number}}">
    <a id="flavorCardLink{{number}}" class="col-lg-3" href="" data-toggle="modal" data-target="#ingredientsPane">
        <h3>{{number}}</h3>
        <div id="flavorCard{{number}}" class="flavorCard"  value="false">
            <!-- layout Item -->
            <div id="flavorItem{{number}}" name="flavorItem"  class="col-lg-3 col-md-4 col-sm-6 col-xs-12" 
                 value="false">
                <!-- PANEL -->
                <div class="panel panel-default">

                    <!-- PANEL BODY -->
                    <div class="panel-body thumbnail">

                        <img class="img-circle" src="/PizzaBuilder/resources/images/pizza_pencil.png" 
                             alt="Default Image">            
                        <span>No flavor selected</span>
                    </div><!-- PANEL BODY -->


                    <!-- PANEL FOOTER -->
                    <div class="panel panel-footer"> 
                        <div class="flavorText">
                            <!-- layout NAME -->
                            <i class="glyphicon glyphicon-plus-sign pull-right" >
                            </i>
                            <h3>Choose a Flavor</h3>


                            <hr>
                            <!-- DESCRIPTION -->
                            <span class="caption">

                            </span>
                            <br>
                        </div>
                    </div><!-- PANEL FOOTER -->
                </div><!-- PANEL -->
            </div><!-- layout Item -->
        </div>
    </a>
</div>
